[2020-10-03 03:57] tejasmorkar opened #3 "Exponent function"
# Todo

- Create a file for the exponent calculator function

- The function will input 2 numbers, base, and an exponent and it should return the solution for `base ^ exponent`

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs t

[2020-10-03 04:16] tejasmorkar opened #5 "Determinant Function"
# Todo

- Create a file for the Determinant calculator function

- This function will accept a matrix as an input and return the determinant of it.

# Example

Input Matrix
[1 2]
[3 4]

Determinant = -2

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the

[2020-10-03 04:17] yashqwerty1 commented on #3
Can you assign this task to me

[2020-10-03 04:19] ani-coder-hacker commented on #3
Can I work on this?

[2020-10-03 04:36] NidhiNivedita6 commented on #5
Please assign me this. I will do this in C.

[2020-10-03 04:38] Mayankjha997 commented on #5
Please assign me this. I will do this in c++

[2020-10-03 04:38] Mayank662 commented on #3
Sir @tejasmorkar , Please assign me this issue.

[2020-10-03 05:06] tdserapio commented on #3
May I be assigned this task, mister?

[2020-10-03 05:13] SuyashSonawane opened #7 "Sigmoid Function"
# Todo

- Create a file for the Sigmoid calculator function

- Implement the following function
![image](https://user-images.githubusercontent.com/35629339/94983964-de565380-0564-11eb-9242-9001d48f6d6d.png)

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Scr

[2020-10-03 05:55] SuyashSonawane commented on #7
Hey, can I contribute?

[2020-10-03 05:55] tejasmorkar commented on #7
Yes, sure @SuyashSonawane ! 🎉

[2020-10-03 05:56] SuyashSonawane commented on #7
Ok I'm working

[2020-10-03 06:00] pbuggaveeti28 commented on #3
Hey, Can I contribute this?
Will do it asap

[2020-10-03 06:01] akshayzzz commented on #5
hey, can i do this in python

[2020-10-03 06:02] pbuggaveeti28 commented on #7
Hey, Can I work on this?

[2020-10-03 06:26] Anand76666 commented on #3
can i work on this ?

[2020-10-03 06:47] Rohan1904 opened #10 "FUnction for exponent"
Can i create Work On it ??

[2020-10-03 06:48] #10 closed, assigned to nobody

[2020-10-03 06:49] Rohan1904 commented on #5
can i do ??

[2020-10-03 06:54] Ganesh0403 commented on #5
Can I work on this issue?

[2020-10-03 07:00] shivamtikhe commented on #3
Hey can I contribute ?

[2020-10-03 07:01] Abhishek-Rath commented on #3
Can I contribute to this ?

[2020-10-03 07:09] tan1404may commented on #3
Can i start work on this??

[2020-10-03 07:09] Anand76666 commented on #3
can i work on this ?

[2020-10-03 07:10] pbuggaveeti28 commented on #5
Can i work on this issue?

[2020-10-03 07:14] ItsAvi165 commented on #3
i can work on exponent function. Can you assign this task to me?

[2020-10-03 07:22] #7 closed, assigned to SuyashSonawane

[2020-10-03 07:28] tejasmorkar commented on #3
@ani-coder-hacker you can start working on it 👍

[2020-10-03 07:29] imsiddhant07 opened #11 "Nth power and root Functions"
# Todo

- Create a file for the Nth power and root calculator function

- (x)^n = (x * x * x * x... x * x * x) n times
- (x)^(1/n) = Nth root for x

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs

[2020-10-03 07:29] tejasmorkar commented on #5
we need these functions as stated in the contributing guidelines using python

[2020-10-03 07:30] siddhantjain07 commented on #11
Can I work on these functions

[2020-10-03 07:30] tejasmorkar commented on #5
You can start working on it @integral-rip

[2020-10-03 07:30] RushikeshMarkad16 commented on #3
Can I contribute to this ?

[2020-10-03 07:30] Rohan1904 commented on #11
Can i work on this ??? @tejasmorkar @SuyashSonawane

[2020-10-03 07:38] NityamKhandelwal1302 commented on #3
can i contribute on this?

[2020-10-03 07:39] NityamKhandelwal1302 commented on #3
@tejasmorkar  plz assign

[2020-10-03 07:43] varunpusarla opened #12 "${Matrix Operations} Function"
# Todo

- Create a file for the ${Matrix Operations} calculator function

- ${mat(A)+ mat(B)}
- ${mat(A)- mat(B)}

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

- If any que

[2020-10-03 07:44] MEHUL25 opened #13 "Modulo Function"
**#** Todo

- Create a file for the Modulo function

- The function has 2 input variables, both integers and the function returns a mod b value ( remainder Or modulo when a is divided by b)

# Example

   Output : a%b=3

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- S

[2020-10-03 07:45] MEHUL25 commented on #13
I will do this!

[2020-10-03 07:47] karthi-01 commented on #11
Can i work on this problem? @tejasmorkar

[2020-10-03 07:54] karthi-01 commented on #12
Can I work on this using python? @tejasmorkar @SuyashSonawane

[2020-10-03 07:56] SuyashSonawane commented on #13
Great 👍

[2020-10-03 07:57] ItsAvi165 commented on #13
i can do this. Can you assign this to me please?

[2020-10-03 07:57] SuyashSonawane commented on #12
Hey @karthi-01 can you extend this to a 2-dimensional matrix also

[2020-10-03 07:57] atharvamaid opened #15 "Permutation and Combination Function"
# Todo

- Create a file for the permutation and combination calculator function

- comb( n, k) - will return the no of ways to choose k from n i.e  ( n! / (k! * (n – k)!) )
- perm(n,k) - will return all permutation of n and k i,e  ( n! / (n-k) ! )

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-

[2020-10-03 07:57] atharvamaid commented on #15
Assign this issue to me

[2020-10-03 07:58] atharvamaid commented on #15
@tejasmorkar  and @SuyashSonawane

[2020-10-03 07:59] karthi-01 commented on #12
Yes, I can do it.

[2020-10-03 07:59] VighneshPath opened #16 "Input Validation and Program Termination"
## Todo

- Add an option to Exit the Menu

- Add a Try Catch for initial input

## Example

- > Input - len(options) + 1
Program Exits

- > Input - "non integer value"
Output - Enter a Valid Integer

## Important

- #### Guidelines for adding new functions are clearly mentioned in the [contributing](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md) guidelines.

- Screenshots of the o

[2020-10-03 07:59] VighneshPath commented on #16
Can I work on this?

[2020-10-03 08:00] tejasmorkar commented on #15
Okay you can work on it 👍

[2020-10-03 08:02] Manas-K-Patil commented on #11
Can i work on this problem ?

[2020-10-03 08:02] MEHUL25 opened #17 "GCD Function using Euclid's Algorithm"
# Todo

- Create a file for the GCD function

- This function has 2 integer inputs, and return the GCD(greatest common divisor) of the input numbers using Euclid's Algorithm.

# Example

   Output: 12

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the o

[2020-10-03 08:02] MEHUL25 commented on #17
I will do it

[2020-10-03 08:03] Rohan1904 commented on #11
Should i start ??  @tejasmorkar @SuyashSonawane

[2020-10-03 08:06] tejasmorkar commented on #11
@siddhantjain07 do you want to work on this issue?

[2020-10-03 08:06] ShamikG17 opened #18 "Factorial Function"
# Todo

- Create a file for the Factorial calculator function

- To calculate the factorial of a given integer

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

- If any querie

[2020-10-03 08:06] MEHUL25 opened #19 "LCM Function"
# Todo

- Create a file for the LCM calculator function

- This function has 2 integer numbers as input and outputs the LCM(Least Common Multiple) of the 2 numbers.

# Example

   Output : 6

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output need

[2020-10-03 08:06] MEHUL25 commented on #19
I will do it.

[2020-10-03 08:07] Apoorva-Datir commented on #13
can I contribute ?

[2020-10-03 08:07] ShamikG17 commented on #18
I'd like to work on this

[2020-10-03 08:07] aniketdhole07 opened #20 "3D Equation Plotter Function"
# Todo

- Create a file for the **3D Equation Plotter** calculator function

- It plots any input equation on 3D graph using Plotly Library.

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for qu

[2020-10-03 08:08] aniketdhole07 commented on #20
I want to work on this Feature @tejasmorkar

[2020-10-03 08:08] Apoorva-Datir commented on #18
can i contribute?

[2020-10-03 08:10] tan1404may commented on #16
hey can i work on this issue??

[2020-10-03 08:10] ItsAvi165 commented on #18
i can do this. Can u assign this to me?

[2020-10-03 08:14] Apoorva-Datir commented on #19
can i contribute?

[2020-10-03 08:14] Manas-K-Patil commented on #11
yes sir

On Sat, 3 Oct 2020 at 13:36, Tejas Morkar <notifications@github.com> wrote:

[2020-10-03 08:16] Manas-K-Patil opened #21 "Compound interest calculator"
# Todo

- Create a file for compound interest  calculator function

-Write a function to make a compound interest calculator. In this function, we will have to make a function in which we can add our number of years, amount, and rate at which the compound interest must be calculated.

The function must give the compound interest or the total last value which we will get at the end of the number of

[2020-10-03 08:16] Manas-K-Patil commented on #21
Can i work on it ?

[2020-10-03 08:20] MEHUL25 opened #22 "Primality Test using Trial division Function"
# Todo

- Create a file for the Primality Test calculator function

- This function has 1 integer input and outputs whether prime or not.
   By definition a prime number doesn't have any divisors other than 1 and itself. A composite number has at least one additional divisor, let's call it d. Naturally nd is also a divisor of n. It's easy to see, that either d≤n−−√ or nd≤n−−√, therefore one of the

[2020-10-03 08:21] MEHUL25 commented on #22
I will do it.

[2020-10-03 08:22] palakg01 opened #23 "${trigonometric} Function"
# Todo

- Create a file for the trigonometric calculator function
- The function will prompt the user for an input and return the corresponding sin, cos and tan values for it

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to

[2020-10-03 08:22] tejasmorkar commented on #21
Yes, sure.

[2020-10-03 08:23] palakg01 commented on #23
can i work on this?

[2020-10-03 08:24] UnnatiBhalekar opened #24 "trignometric_values Function"
# Todo

- Create a file for the trignometric_values  for sine calculator function

This function has 1 integer numbers as input and outputs is the value of the sine of that number

# Example for add.py
input:90
output:1
# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Sc

[2020-10-03 08:24] MrunaliPandav commented on #18
Can you assign this to me?

[2020-10-03 08:24] UnnatiBhalekar commented on #23
can I only work on this?

[2020-10-03 08:27] tejasmorkar commented on #17
Okay sure 👍

[2020-10-03 08:27] ItsAvi165 commented on #18
@ShamikG17  Please assgin ?

[2020-10-03 08:28] tejasmorkar commented on #16
@VighneshPath you can work on it! 👍

[2020-10-03 08:28] sanketchaudhari10 opened #25 "Fibonacci Function"
# Todo

- Create a file for the Fibonacci calculator function
- It takes a number denoting number of terms to  consider
-  Returns the value for the  Fibonacci operation

# Example

input : 9
output : 34

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of th

[2020-10-03 08:29] sanketchaudhari10 commented on #25
Should I work on this?

[2020-10-03 08:29] tejasmorkar commented on #25
Sure you can go ahead @sanketchaudhari10

[2020-10-03 08:30] ShamikG17 commented on #18
It is not up to me to assign an issue to anyone. The maintainers of the repo will assign the issue to someone so let's just wait for them.

[2020-10-03 08:30] tejasmorkar commented on #12
@karthi-01 you can work on it after @varunpusarla pushes his changes. Contact him on discord.

[2020-10-03 08:32] NityamKhandelwal1302 commented on #24
can i work on this

[2020-10-03 08:33] tejasmorkar commented on #13
If someone is already assigned to it you can find other issues or open new.

[2020-10-03 08:34] UnnatiBhalekar commented on #24
can i work on this?

[2020-10-03 08:35] tejasmorkar commented on #24
You can start working on it @UnnatiBhalekar

[2020-10-03 08:35] tejasmorkar commented on #23
@palakg01 you can start working on it! 👍

[2020-10-03 08:36] jferns19 opened #29 "Finding Factors"
# Todo

- Create a file for the Finding Factors calculator function

- To find factors of given Number

# Example
Input:28
Output: 1,2,4,7,28

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merg

[2020-10-03 08:36] jferns19 commented on #29
Hey, Can I work on this??

[2020-10-03 08:36] imsiddhant07 commented on #11
no i only created an issue for others to solve, its okay if this is assigned to someone else

[2020-10-03 08:36] Manas-K-Patil opened #30 "Simple Interest Calculator"
# Todo

- Create a file for the simple interest  calculator function

- Here, in this function, take the following things :
  principle, rate,  and time.
    then, make a program to calculate the simple interest by using the following formula :
                 (principle * time * rate)/100

# Example

  principle :- 10000
  rate :- 5%
  time :- 5years

then, the output must be = 2500

# Important

[2020-10-03 08:37] tejasmorkar commented on #18
@ShamikG17 you've created the issue so you can start working on it if you want.

[2020-10-03 08:37] Manas-K-Patil commented on #30
can i work on this

[2020-10-03 08:37] tejasmorkar commented on #18
Should I assign it to you? @ShamikG17

[2020-10-03 08:37] ShamikG17 commented on #18
Yes I'll make the PR

[2020-10-03 08:40] tejasmorkar commented on #22
You can start working on it!

[2020-10-03 08:40] tan1404may commented on #30
can i work on this??

[2020-10-03 08:40] tejasmorkar commented on #20
Okay sure 👍

[2020-10-03 08:41] MEHUL25 commented on #19
It is not up to me to assign an issue to anyone. The maintainers of the repo will assign the issue to someone so let's just wait for them.

[2020-10-03 08:41] tejasmorkar commented on #19
@MEHUL25 you've been assigned with other issues... let me assign this to @Apoorva-Datir

[2020-10-03 08:43] tejasmorkar commented on #30
@Manas-K-Patil you've been assigned with other issues. Is it fine if this one is assigned to @tan1404may ?

[2020-10-03 08:43] tejasmorkar commented on #29
Okay sure 👍

[2020-10-03 08:43] Manas-K-Patil commented on #30
ok sir no problem.

[2020-10-03 08:44] NityamKhandelwal1302 opened #32 "HCF Function"
# Todo

- Create a file for the HCF calculator function

-the user will give two inputs and the function will find out all the factors of the inputs and return the highest common factor of the input

# Example

factors of 8 are 2,4,8
factors of 12 are 2,4,6,12
so the output will be 4

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https:

[2020-10-03 08:44] Manas-K-Patil commented on #30
@tan1404may you can ask me if there is any problem as i have written the code for this

[2020-10-03 08:44] NityamKhandelwal1302 commented on #32
can i work on this

[2020-10-03 08:45] tejasmorkar commented on #32
Okay sure 👍

[2020-10-03 08:46] tan1404may commented on #30
@Manas-K-Patil  sure i really appreciate it.

[2020-10-03 08:47] tejasmorkar commented on #11
@Rohan1904 you can start working on it 👍

[2020-10-03 08:47] TejasPodutwar opened #33 "Decimal to Binary, Hexadecimal and Octal Conversion"
# Todo

Convert the given Decimal number into Binary, Hexadecimal or Octal as per user's choice.

# Example

1.Decimal to binary
2.Decimal to Hexadecimal
3.Decimal to Octal

Input:-
Enter your choice: 3
Enter a decimal number: 8

Output:-
Octal conversion is:  10

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm

[2020-10-03 08:47] MEHUL25 commented on #32
Hey this one is done. It is same as GCD (greatest common divisor) .

[2020-10-03 08:48] TejasPodutwar commented on #33
I would like to work on this!
Could you please assign this to me?

[2020-10-03 08:49] tejasmorkar commented on #33
Yeah sure, you can work on it! 👍

[2020-10-03 08:50] tejasmorkar commented on #32
Thanks for mentioning.

[2020-10-03 08:51] tejasmorkar commented on #32
@NityamKhandelwal1302 could you check the issue #17

Let me know about it.

[2020-10-03 08:51] Ganesh0403 commented on #11
@tejasmorkar I think this issue is same like Exponent power.

[2020-10-03 08:51] ItsAvi165 opened #34 "Logarithmic Function"
# Todo

- Create a file for the Logarithmic  function

- Take input from user i.e base and a value.
- Find log of the value with base  taken from user.
- If the numer is negative don't find log.

# Example

Base- 5
Value- 14
Find logarithm base 5 of 14
Output- 1.6397385131955606

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://git

[2020-10-03 08:52] ItsAvi165 commented on #34
I want to do this. Can you assign this to me please?

[2020-10-03 08:54] NityamKhandelwal1302 commented on #32
@tejasmorkar  ya its the same so will look for other issue

[2020-10-03 08:56] Manas-K-Patil commented on #32
yes gcd and hcf is the same

[2020-10-03 08:57] tejasmorkar commented on #32
Okay, I'll close the issue now.

[2020-10-03 08:57] #32 closed, assigned to NityamKhandelwal1302

[2020-10-03 08:59] tejasmorkar commented on #34
Okay you can work on it 👍

[2020-10-03 09:00] pruthvi3007 commented on #21
hey, can i contribute here?

[2020-10-03 09:02] aniketdhole07 opened #36 "Integration Calculation Function"
# Todo

- Create a file for the Integration Calculation calculator function

- The function can calculate the Integration of Input Equations with limits and values.

# Example

<math xmlns="http://www.w3.org/1998/Math/MathML" display="block">
  <msubsup>
    <mo>&#x222B;</mo>
  </msubsup>
  <mi>x^2</mi>
  <mi>d</mi>
  <mi>x</mi>
</math>
= x^3/3 +c

# Important

- **Guidelines for adding new functi

[2020-10-03 09:02] aniketdhole07 commented on #36
I would like to work on this function

[2020-10-03 09:03] varunpusarla commented on #12
@tejasmorkar  @karthi-01  I've already pushed the changes.

[2020-10-03 09:03] jadhav-tejas opened #37 "Degree to Radian converter"
# Todo

Convert degrees to radians for simplified calculations

# Example

Input degrees: 90
1.5714285714285714

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

- If any queries, discuss

[2020-10-03 09:04] tejasmorkar commented on #36
Okay sure

[2020-10-03 09:04] jadhav-tejas commented on #37
I would like to work on this , can you assign this to me !?

[2020-10-03 09:05] pratik-dhende opened #38 "MapValueToRange Function"
# Todo

- Create a file for the MapValueToRange calculator function

- This function will take a value within a certain range and map it to the value of other range.

# Example

2 falls in the middle of 1 and 3, but what will be its value if we change the range to 0 and 1, then it will map to 0.5 in this range.
MapValueToRange(original_value, original_min, original_max, new_min, new_max)

I would

[2020-10-03 09:06] tejasmorkar commented on #3
I have already assigned a person. Do check that before asking to be assigned.

[2020-10-03 09:07] MEHUL25 opened #39 "Modular Multiplicative Inverse Function"
# Todo

- Create a file for the Modular Multiplicative Inverse calculator function

- Given two integers ‘a’ and ‘m’, find modular multiplicative inverse of ‘a’ under modulo ‘m’.

The modular multiplicative inverse is an integer ‘x’ such that.
 a x ≡ 1 (mod m)
The value of x should be in {0, 1, 2, … m-1}, i.e., in the range of integer modulo m.

The multiplicative inverse of “a modulo m” exists if

[2020-10-03 09:08] MEHUL25 commented on #39
I will do it!

[2020-10-03 09:12] jrakshit749 opened #40 "Mean Calculator"
# Todo

- Create a file for the Mean calculator function

- Calculating the mean of the numbers provided by the user.

# Example

   Output: 2

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker mer

[2020-10-03 09:12] pruthvi3007 commented on #37
can i make a PR on this Repo??

[2020-10-03 09:13] tejasborde commented on #38
Can I work on this???

[2020-10-03 09:13] NityamKhandelwal1302 opened #41 "Summation Function"
# Todo

- Create a file for the Summation calculator function

- to calculate sum of square of n first natural no.'s

# Example

output=385

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges

[2020-10-03 09:13] NityamKhandelwal1302 commented on #41
can i work on this?

[2020-10-03 09:20] SuyashSonawane opened #42 "Build a GUI"
Todo
- create a GUI with any python framework
- it should list out all the functions

Important Points
- send a screenshot on this issue thread before creating a PR

[2020-10-03 09:21] Anand76666 opened #43 "${Slope} Function"
# Todo

- Create a file for the slope and slope_intercept calculator function

- It should find slope and slope_intercept of given line

# Example

x1,y1 = 10,20
x2,y2 = 30,40
slope =1.0
slope_in
![Screenshot (102)](https://user-images.githubusercontent.com/65952263/95352609-04228600-08e0-11eb-8778-0ca9cf024c96.png)
![Screenshot (103)](https://user-images.githubusercontent.com/65952263/95352740-26

[2020-10-03 09:22] aniketdhole07 commented on #42
I could create the GUI version using Tkinter

[2020-10-03 09:22] shivamtikhe commented on #40
can I contribute ?

[2020-10-03 09:22] Anand76666 commented on #43
can I contribute ?

[2020-10-03 09:25] SuyashSonawane commented on #37
Hey @pruthvi3007 and @TejasNitinJadhav currently we have put a hold on this repo, any more further issues will not be assigned for some time

[2020-10-03 09:35] rajkumawat01 opened #44 "Hypotenuse length Function"
# Todo

- Create a file for the Hypotenuse length calculator function
- Taking two inputs as side 1 and side 2 (of right angled triangle )and then providing length of the hypotenuse (third side)

# Example
**Input :**

**Output :**

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING

[2020-10-03 09:36] rajkumawat01 commented on #44
Can i provide program for this function
?

[2020-10-03 09:41] Anand76666 opened #47 "Average"
# Todo

- Create a file for the ${Average} calculator function

- ${The average of given no}

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

- If any queries, discuss it in t

[2020-10-03 09:42] Anand76666 commented on #47
can i work on it

[2020-10-03 09:47] tan1404may commented on #41
can i work on this??

[2020-10-03 09:51] Rohit-More commented on #17
hey can i also contribute to Euclids gcd

[2020-10-03 10:01] RushikeshMarkad16 opened #49 "Complex number operation"
# Todo

- Create a file for the Complex number operation calculator function

- it should do the required opration of complex number

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker me

[2020-10-03 10:01] RushikeshMarkad16 commented on #49
Can I contribute?

[2020-10-03 10:17] lnxpy commented on #16
Hey @tejasmorkar,

I can also work on this feature.
I also found some bugs in the main script which looks simply solvable. :)

[2020-10-03 10:42] Apoorva-Datir commented on #40
can i contribute?

[2020-10-03 10:48] tan1404may commented on #40
can i contribute??

[2020-10-03 10:49] sanketchaudhari10 opened #54 "std_deviation Function"
# Todo

- Create a file for the std_deviation calculator function

- This function inputs a list and returns the standard deviation

# Example

    Output: 147.322774886

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along w

[2020-10-03 10:49] sanketchaudhari10 commented on #54
Should I work on it?

[2020-10-03 10:53] tejasmorkar commented on #40
@jrakshit749 you can start working on it!

[2020-10-03 11:03] tan1404may commented on #49
should i work on this??

[2020-10-03 11:08] jferns19 opened #58 "Profit Loss Calculation"
# Todo

- To find whether there is profit or loss

# Example

Output: 500 Profit

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

- If any queries, discuss it in the issue thread.

[2020-10-03 11:09] jferns19 commented on #58
Can I work on this?

[2020-10-03 11:14] tan1404may commented on #58
can i work on this??

[2020-10-03 11:33] tejasmorkar commented on #38
@pratik-dhende do you want to work on it? If not, I'll assign it to @Tejasborde2607

[2020-10-03 12:06] SuyashSonawane commented on #12
hey @varunpusarla can you implement the function without NumPy

[2020-10-03 12:33] pratik-dhende commented on #38
@tejasmorkar I want to work on this

[2020-10-03 13:05] jrakshit749 opened #63 "Exit Function"
# To Do
A requirement of exit function in the program in order to stop the execution as per the requirement of the user.

[2020-10-03 13:05] jrakshit749 commented on #63
Please assign this to me. It is a critical feature that needs to be integrated ASAP.

[2020-10-03 13:41] UnnatiBhalekar commented on #42
I can create it using Flask

[2020-10-03 14:02] nnuam911 opened #65 "Built in Function"
![Screenshot from 2020-10-03 19:31:34](https://user-images.githubusercontent.com/69157291/94993505-269a6380-05af-11eb-9a7b-cccd9a924488.png)

[2020-10-03 14:09] nnuam911 commented on #65
Can i work on this ?

[2020-10-03 14:20] tejasmorkar commented on #65
Can you describe more about the issue?

[2020-10-03 14:20] ani-coder-hacker opened #66 "Create a requirements.txt"
It would be nice if there was a requirements.txt for users who don't have the necessary dependencies (eg. numpy and others that may be added in the future)

[2020-10-03 14:23] tejasmorkar commented on #66
Do you want to work on it or should make it open to contribution for others?

[2020-10-03 14:27] ani-coder-hacker commented on #66
Yeah I could work on it no issue!

[2020-10-03 15:57] varunpusarla opened #68 "Area and Perimeter Function"
# Todo

- Create a file for the Area and Perimeter calculator function

- Inputs values of dimensions from users and the finds the area and perimeter for the shapes.

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added

[2020-10-03 15:57] varunpusarla commented on #68
I'm working on this.

[2020-10-03 18:26] aniketdhole07 opened #71 "Direct Equation Calculator Function"
# Todo

- Create a file for the Direct Equation Calculator calculator function

- The function takes input any mathematical equation as string and takes values of variables and outputs the result of equation
- The number of variables can be any

# Example

[code]

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm

[2020-10-03 18:27] aniketdhole07 commented on #71
I would like to work on this function

[2020-10-04 03:44] tan1404may commented on #68
can i work on this??

[2020-10-04 05:24] varunpusarla commented on #68
Sorry @tan1404may .I'm already working on this.

[2020-10-04 06:55] tejasborde commented on #38
@tejasmorkar Please assign this task to me because as of now I don't think anyone is working on  this .

[2020-10-04 06:58] tejasmorkar commented on #68
Don't start working on issues untill assigned by the maintainers. Otherwise this creates conflicts. @varunpusarla I'll assign this one to you.

[2020-10-04 07:02] tejasmorkar commented on #38
@pratik-dhende has opened the issue and wants to work on this so I'll assign this one to him 👍

[2020-10-04 07:42] jrakshit749 opened #72 "Pythagorean Triplet Checker Function"
# Todo

- Create a Pythagorean Triplet Checker calculator function

- The function will take 3 inputs from the user and return true if they are Pythagorean triplets.

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added

[2020-10-04 10:17] Rohan1904 commented on #72
should i do this one @tejasmorkar @SuyashSonawane  ??

[2020-10-04 10:37] tejasborde opened #75 "Cartesian to polar coordinates Function"
# Todo

- Create a file for the Cartesian to polar coordinates calculator function

- Function will accept two inputs from user "x-coordinate" and "y-coordinate" and it will convert the cartesian coordinates into
   polar cordinates. "r" and "Angle" will be the outputs which are the polar coordinates.

# Example

  y=10
  solution :
  r= 11.180339887498949
  Angle= 63.43494882292201

# Important

[2020-10-04 10:38] tejasborde commented on #75
@tejasmorkar @SuyashSonawane Can you please assign this task to me....

[2020-10-04 11:39] dhanashreemunot opened #77 "Adding Function for geometric and harmonic mean"
# Todo

- Create a file for the geometric and harmonic mean calculator function

- To create separate functions for calculating geometric and harmonic mean for a given input of n numbers and displaying required output upto 6 decimal places

# Example
For geometric mean:-

Enter the  numbers:1
2
3
4
5
Output: Geometric mean is : 2.605171
For harmonic mean:-

Enter the  numbers:1
2
3
4
5
Output: Har

[2020-10-04 11:39] dhanashreemunot commented on #77
can i work on this?

[2020-10-04 11:52] tejasborde commented on #75
#76
@SuyashSonawane and @tejasmorkar can u please review this ...

[2020-10-04 12:10] pbuggaveeti28 commented on #77
Can I contribute?

[2020-10-04 16:54] Apoorva-Datir commented on #77
can i work on this please?

[2020-10-04 17:16] Apoorva-Datir commented on #21
can i contribute please?

[2020-10-05 05:04] UnnatiBhalekar opened #79 "float_to_ratio Function"
# Todo

- To convert Float to Ratio

   a = 4.2
   c = 21/5

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

- If any queries, discuss it in the issue thread.

[2020-10-05 05:05] UnnatiBhalekar commented on #79
Can I work on this?

[2020-10-05 07:31] UnnatiBhalekar opened #81 "polar_to_rectangular Function"
# Todo

- To convert the given polar cordinates into the rectangular cordinates

#  Example
  Enter a >>5
   Enter b >>6
   Polar Coordinates:  (7.810249675906654, 0.8760580505981934)
   Polar to rectangular:  (-2+2.4492935982947064e-16j)
   {'inputs': [5.0, 6.0], 'outputs': [(-2+2.4492935982947064e-16j)]}

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contribu

[2020-10-05 07:31] UnnatiBhalekar commented on #81
Can I work on this?

[2020-10-05 08:54] jrakshit749 opened #82 "Polygon Internal Angle Calculator Function"
# Todo

- Create a file for the Polygon Internal Angle Calculator function

- The function will calculate the internal angles for the provided number of sides.

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along

[2020-10-05 11:14] shreyasd302 commented on #72
can I contribute this @tejasmorkar @SuyashSonawane ?
please allow me as this is my first PR.

[2020-10-05 11:33] shreyasd302 opened #83 "Median of a set of numbers Function"
# Todo

- Create a file for the Median of a set of numbers calculator function

- The function will find out the median of given set of numbers.

# Example

 Input>>[4,1,7]
Output>>4

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be

[2020-10-05 11:34] shreyasd302 commented on #83
can i do this function?

[2020-10-05 13:42] Apoorva-Datir commented on #82
can I work on this please??

[2020-10-05 13:53] Apoorva-Datir commented on #79
can i work on this?

[2020-10-05 14:49] SuyashSonawane commented on #72
@shreyasd302 and @Rohan1904, we discussed such type of issues earlier that if someone creates an issue, he can assign it to himself, in this case, @jrakshit749 forgot to assign it to himself.

We are sorry for the inconvenience.

[2020-10-05 14:51] #11 closed, assigned to Rohan1904

[2020-10-05 14:56] #15 closed, assigned to Atharvamaid

[2020-10-05 15:00] #25 closed, assigned to sanketchaudhari10

[2020-10-05 15:04] #30 closed, assigned to tan1404may

[2020-10-06 18:11] tejasmorkar commented on #82
This issue is opened by @jrakshit749 so if he wants to work on it, he can mention it or else it'll be assigned to you @Apoorva-Datir

[2020-10-07 06:25] jrakshit749 commented on #82
I'll work on it @tejasmorkar

[2020-10-07 11:28] #82 closed, assigned to jrakshit749

[2020-10-07 11:33] tejasmorkar commented on #75
Do not work on issues or create PRs unless you're assigned to it.

[2020-10-07 11:37] tejasmorkar commented on #72
@jrakshit749 is this issue resolved or are you still working on it?

[2020-10-07 11:40] tejasmorkar commented on #63
This is done by now I think.

@SuyashSonawane can you see if it is done and close this issue? If not, assign it to @jrakshit749

[2020-10-07 11:47] tejasmorkar commented on #42
We can have both the version. I'll assign you both to work on them.
It would be better if you used different folders in the root directory for both.

We can have a discussion related to it over here.

[2020-10-07 11:51] tejasmorkar commented on #47
This issue is already mentioned under #40

[2020-10-07 11:51] #47 closed, assigned to tejasmorkar, SuyashSonawane

[2020-10-07 11:53] tejasmorkar commented on #43
Please describe the function neatly by replacing the text in curly brackets.

[2020-10-07 15:21] sanketchaudhari10 commented on #54
@tejasmorkar @SuyashSonawane
Is there some issue with the app.py?
There are no options.....

![calcprob](https://user-images.githubusercontent.com/56798588/95351264-a93c5f00-08de-11eb-83d3-b46817682d68.PNG)

[2020-10-08 07:16] jrakshit749 commented on #72
@tejasmorkar  it is completed

[2020-10-08 12:47] jrakshit749 opened #91 "Reciprocal Calculator Function"
# Todo

- Create a file for the Reciprocal calculator function

- This function will calculate the reciprocal of the given number.
# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merge

[2020-10-08 12:47] jrakshit749 commented on #91
Assign this to me please @tejasmorkar @SuyashSonawane

[2020-10-08 13:29] jrakshit749 opened #93 "Root Mean Square Function"
# Todo

- Create a file for the Root Mean Square calculator function

- It will calculate the root mean square of the given list of numbers.

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for qu

[2020-10-08 13:38] Apoorva-Datir commented on #93
can I contribute please?

[2020-10-08 13:40] Apoorva-Datir commented on #91
can I contribute please??

[2020-10-08 13:51] Apoorva-Datir opened #94 "Currency converter Function"
# Todo

- Create a file for the currency converter calculator function.

- This function converts currency of one country to that of another country.

# Example

     From Country: USD
    To Country: INR
    Amount: 1

    _**Output:_
     1 USD = 73.44 INR

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-

[2020-10-08 13:51] jrakshit749 commented on #93
@tejasmorkar @SuyashSonawane  Please assign this to me

[2020-10-08 13:51] Apoorva-Datir commented on #94
can I work on this issue??

[2020-10-08 13:57] jrakshit749 opened #95 "Kilogram to Pounds Function"
# Todo

- Create a file for the Kilogram to Pounds calculator function

- This function will convert from kilogram to Pounds

# Example

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merges.

-

[2020-10-08 13:57] jrakshit749 commented on #95
@SuyashSonawane @tejasmorkar Please assign this to me

[2020-10-08 14:06] shreyasd302 opened #96 "Temperature converter Function"
# Todo

- Create a file for the Temperature converter calculator function

- This function converts Temperature from degree celsius to fahrnheit and vice versa.

# Example

input: celsius = 37.5
output: Fahrenheit = 99.5

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

-

[2020-10-08 14:06] Apoorva-Datir opened #97 "GST calculator Function"
# Todo

- Create a file for the GST calculator  calculator function

- This function is used to calculate GST amount added on Original price

# Example

    Original price: 100
    Net price: 124.7

    **Output:**
    GST:  25%

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md

[2020-10-08 14:06] shreyasd302 commented on #96
can i work on this?

[2020-10-08 14:06] Apoorva-Datir commented on #97
Can I work on this issue?

[2020-10-08 14:12] shreyasd302 opened #98 "Distance converter Function"
# Todo

- Create a file for the Distance converter calculator function

- This function converts feet into inches, yards and miles.

# Example
input:
feet : 100
output:
1200 inches.
33.33 yards.
0.02 miles
# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of t

[2020-10-08 14:12] shreyasd302 commented on #98
can i do this?

[2020-10-08 16:49] #91 closed, assigned to jrakshit749

[2020-10-09 06:37] Apoorva-Datir commented on #93
I'll start working on it !

[2020-10-09 06:48] tejasborde commented on #75
@tejasmorkar please assign me this again ..I mistakenly clicked unassigned  me option .

[2020-10-09 09:51] abhishekove opened #103 "Base Conversion Function"
# Todo

- Create a file for the Base Conversion calculator function
The function will convert decimal or numbers base 10  to any other base.

# Example

Input 10 2
Output 1010

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added a

[2020-10-09 09:52] abhishekove commented on #103
Can I work on it?

[2020-10-09 09:58] abhishekove opened #104 "BMI Calculator Function"
# Todo

- Create a file for the BMI  calculator function

It takes input as mass and height and outputs BMI.

# Example

INPUT 5 2
OUTPUT 1.25
# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output needs to be added along with the PRs for quicker merg

[2020-10-09 09:59] abhishekove commented on #104
Can I please work on it?

[2020-10-11 11:35] palakg01 opened #106 "(10^9 + 7) Modulo Function"
# Todo

- Create a file for the modulo 10^9 + 7 calculator function

-The reason of taking Mod is to prevent integer overflows. The largest integer data type in C/C++ is unsigned long long int which is of 64 bit and can handle integer from 0 to (2^64 – 1). But in some problems where the growth rate of output is very high, this high range of unsigned long long may be insufficient.

-Usually used in

[2020-10-11 11:35] palakg01 commented on #106
Can i work on this?

[2020-10-13 15:51] #58 closed, assigned to jferns19

[2020-10-13 16:17] #93 closed, assigned to Apoorva-Datir

[2020-10-16 17:18] SuyashSonawane commented on #103
Sure go-ahead

[2020-10-16 17:20] #71 closed, assigned to aniketdhole07

[2020-10-24 10:01] Apoorva-Datir opened #115 "Calculating the value of nCr"
# Todo

- Create a file for the nCr calculator function.

- This function calculates  value of  nCr when two numbers n and r are given.

# Example

    Output : 10
    The value of  5C2  is 10.

# Important

- **Guidelines for adding new functions are clearly mentioned in the [contributing guidelines](https://github.com/pccoeacm/all-calc/blob/main/CONTRIBUTING.md).**

- Screenshots of the output n

[2020-10-24 10:01] Apoorva-Datir commented on #115
Can I work on this issue??